:root {
  --grid-width: 600px;
  --inactive-color: rgba(121, 121, 153, 0.442);
  --accent-color: rgb(113, 113, 122);
  --active-button-color: rgb(221, 221, 221);
  --frame--color: rgba(238, 238, 238, 0.859);
}

* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: rgb(94, 94, 94);
}

html {
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh; */
}

/* @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */

#frame {
  display: flex;
  flex-direction: column;
  width: min-content;
  border: 1px ridge rgb(192, 192, 192);
  border-radius: 10px;
  margin: 40px auto 70px auto;
  background: var(--frame--color);
  padding: 0px 8px 8px 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  backdrop-filter: saturate(180%) blur(20px);
}

#controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.rightControls {
  display: flex;
  gap: 6px;
}

#grid-container {
  display: flex;
  flex-wrap: wrap;
  width: var(--grid-width);
  border-radius: 2%;
  background-color: white;
  overflow: hidden;
  border: 1px solid rgba(147, 147, 147, 0.691);
  touch-action: none;
  cursor: crosshair;
}

.grid-pixel {
  border: 1px solid rgba(221, 221, 221, 0.5);
}

button {
  display: flex;
  justify-content: space-between;
  padding: 2px 8px;
  border: 1px ridge rgb(212, 212, 212);
  border-radius: 6px;
  align-items: center;
  background-color: var(--frame--color);
}

button:hover {
  background-color: var(--active-button-color);
}

button > span {
  color: var(--accent-color);
}

button:hover > span {
  color: var(--accent-color);
}

#slider-container {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0px 4px;
}

.slider {
  /* appearance: none; */
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  color: black;
}

#slider:hover {
  opacity: 1;
}

#slider::-webkit-slider-thumb {
  background-color: whitesmoke;
  color: whitesmoke;
}

h1 {
  font-size: 16px;
  font-family: HelveticaNeue, Arial, sans-serif;
  font-weight: 500;
}

span.size-20 {
  font-size: 20px;
}

#color-box {
  width: 12px;
  height: 12px;
  border-radius: 4px;
}

#clear-button:hover {
  background-color: rgb(230, 189, 189);
  color: azure;
  border: 1px solid rgb(115, 63, 63);
}

#color-button {
  display: flex;
  width: 30px;
  height: 28px;
  padding: 4px 4px;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 4px;
  align-items: center;
  background-color: var(--frame--color);
}

footer {
  display: flex;
  justify-content: center;
  opacity: 15%;
  width: 100vw;
}
